

.contenedor-incidencias {
  display: flex;
  gap: 20px; 
  padding: 20px;
  padding-bottom: 80px; 
  max-width: 1400px; 
  margin: 0 auto; 
  margin-top: 30px;
}

main {
  flex: 2;
  background-color: rgba(255, 255, 255, 0.85); 
  padding: 20px;
  border-radius: 15px; 
  box-shadow: 0 10px 25px rgba(0,0,0,0.1); 
  backdrop-filter: blur(5px); 
}


aside {
  flex: 1;
  min-width: 350px;
  background-color: transparent; 
  border: none;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #f0f8ff; 
  background-image: 
  radial-gradient(circle at 10% 20%, rgba(224, 195, 252, 0.8) 0%, transparent 50%),
  radial-gradient(circle at 90% 10%, rgba(144, 247, 236, 0.8) 0%, transparent 50%),
  radial-gradient(circle at 80% 80%, rgba(142, 197, 252, 0.8) 0%, transparent 50%),
  radial-gradient(circle at 10% 90%, rgba(255, 222, 225, 0.8) 0%, transparent 50%);
  background-attachment: fixed;
  background-size: 100% 100%;
}

/* Centra el título y el contenido del componente de gestión */
.gestion-usuarios-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente el h3 y la tabla */
    width: 100%;
    
}

.gestion-usuarios-container h3 {
    margin-bottom: 20px;
    text-align: center;
    
}

/* Asegura que la tabla no se pegue a los bordes y use su margen auto */
.tablaLista {
    margin-left: auto;
    margin-right: auto;
    min-width: 600px; /* O el ancho que prefieras para que no se vea muy pequeña */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}